{{!-- Saved Page --}} 

{{!-- Navbar at the top of the page --}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="nav-bar-header">
            <a class="navbar-brand" href="/">Saved Articles</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/saved">Saved Articles</a>
            </li>
        </ul>
    </div>
</nav>

{{!-- Text in the middle of the page --}}
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="back-ground-image">
    </div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your Saved Articles</p>
    </div>
</div>
{{!-- <div class="container-fluid article-container"></div> --}}

{{!-- Footer --}}
<footer class="footer">
   
        <p>New York Times Mongo Scraper</p>
   
</footer>


<script src="../../assets/Javascript/saved.js"></script>